{% extends "base.html" %} {% block title %}Game {{id}}{% endblock %} {% block
content %}
<input id="gameId" type="hidden" value="{{id}}" />
<input id="isHost" type="hidden" value="{{isHost}}" />

<!-- <div class="form-field">
  <h3>Game Id: {{id}}!</h3>
</div> -->

{% if isHost %}
<div id="display">
  <!-- <p>LOBBY</p> -->
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{{ image }}" alt="QR Code" width="250px"/>
      </div>
      <div class="col">
        <p>waiting for players...</p>
        <div id="playerlist">
          <h3>Players</h3>

          {% for player in player_list %}
          <p>{{player}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<p> </p>
<div id="hostAction">
  <button
    id="start"
    onclick="startGame()"
    class="btn btn-primary button-h4g-green"
    data-bs-toggle="button"
  >
    Start game!
  </button>
</div>

{% else %}
<div id="display"></div>
<div id="select-displayname">
  <div class="container">
    <div class="row">
      <div class="col">
        <label for="displayname">Choose a display name</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" id="displayname" class="displayname-input-field"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          onclick="select_displayname()"
          class="btn btn-primary button-h4g-green"
          data-bs-toggle="button"
        >
          Join
        </button>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %} 

{% block onconnect %}


<script type="text/javascript" charset="utf-8">
    var socket = io();
    var answerSubmitted = false;


    // number of seconds the players have to submit answers
    var cdTime = 10;

    $(document).ready(function() {
        socket.emit('host_join', {gameId: document.getElementById('gameId').value, ishost: document.getElementById('isHost').value});
    });
    
    // submit name of new player
    function select_displayname() {
        socket.emit('player_join', {displayname: document.getElementById('displayname').value, gameId: document.getElementById('gameId').value});
        $('#select-displayname').hide();
    };

    // event that triggers when another player has joined
    socket.on('player_join_game', function(data) {
        console.log('on: player_join_game');
        $('#playerlist').append('<p>' + data['player_name'] + '</p>');
    });

    // host can start the game
    function startGame() {
        socket.emit('host_start_game', {gameId: document.getElementById('gameId').value});
    };

    // host can go to the next question
    function getNext() {
        socket.emit('get_next_question', {gameId: document.getElementById('gameId').value});
    };

    // when the game is started, go to the next question
    socket.on('start_game', function(data) {
        console.log('on: start_game');
        getNext();
    });

    // event that gets triggered when the next question arrives
    socket.on('next_question', function(data) {

        console.log('on: next_question');
        answerSubmitted = false;

        var letters = ['A', 'B', 'C', 'D']


        var answerGrid = `
        <div id="answers" class="box">
            <div id="firstRow" class="row" style="height: 45%">
                <div class="col">
                    <div id='ans0'></div>
                </div>
                <div class="col">
                    <div id='ans1'></div>
                </div>
            </div>
            <div id="secondRow" class="row" style="margin-top: 2em; height: 45%">
                <div class="col">
                    <div id='ans2'></div>
                </div>
                <div class="col">
                    <div id='ans3'></div>
                </div>
            </div>
        </div>`; 
                        
        // update the page, add question and answers
        $('#hostAction').hide();
        $('#display').replaceWith(`<div id="display" style="display: flex; justify-content: center; align-items: center; flex-direction: column"><div id="countdown" class="countdown circle flexCenter"><div>${cdTime}</div></div><div id="question"></div><div id="answers"></div></div>`);
        $('#question').replaceWith(`<div id="question" class="question">${data['question']}</div>`);
        $('#answers').replaceWith(answerGrid);

        console.log(data['answers']);
        var numAnswers = data['answers'].length;

        if(document.getElementById('isHost').value != 'True') {

            var rem = document.getElementById('page').clientHeight - document.getElementById('header').clientHeight;
            var newheight = rem/3.5;
            $('#firstRow').css('height', newheight);
            $('#secondRow').css('height', newheight);

            if(data['answers'].length <= 2) {
                $('#secondRow').remove();
                $('#firstRow').css('height', 2*newheight);

            }

            // if(data['answers'].length <= 2) {
            //     $('#secondRow').css('height', '60vh');

            // } else {
            //     $('#secondRow').css('height', '30vh');
            // }
        } else {
            if(data['answers'].length <= 2) {
                $('#secondRow').remove();
                $('#firstRow').css('height', '90%');
            }
        }

        

        for(var i=0; i<data['answers'].length; i++) {
            var ans = data['answers'][i];
            //$('#ans'+i).replaceWith('<div id="a' + i +'" class="card ans' + i + '" onclick="submitAnswer(' + "'a" + i + "'" +',' + "'" + ans +  "'" + ')"><div class="card-body"><p class="card-text">' + ans + '</p></div></div>');
            
            // TODO: change host/client
            if(document.getElementById('isHost').value == 'True') {
                $('#ans'+i).replaceWith(`<div id="a${i}" class="card ans${i}h fullHW"><div class="card-body flexCenter"><div class="ansLetter">${letters[i]}</div><p id='ans${i}p' class="card-text ansTextHost">${ans}</p></div></div>`);
            } else {
                $('#ans'+i).replaceWith(`<div id="a${i}" class="card ans${i} fullHW" onclick="submitAnswer('${i}', '${numAnswers}')"><div class="card-body flexCenter"><p class="card-text ansTextPlayer">${letters[i]}</p></div></div>`);
            }
            
        }  

        
        // start the countdown, time that players have to choose an answer       
        countdownTilTimeUp(data);

        
        
    });

    // players can submit an answer
    function submitAnswer(id, numAnswers) {
        var colors = ['#196fc1', '#c57117', '#30a45a', '#841aa2'];

        var elemId = 'a' + id;
        if(document.getElementById('isHost').value != 'True' && !answerSubmitted) {
            socket.emit('submit_answer', {gameId: document.getElementById('gameId').value, answerId: id});
            console.log('submitted answer!');
            console.log(elemId);

            document.getElementById(elemId).style.backgroundColor = colors[id];
            document.getElementById(elemId).style.border = '4px solid white';
            // document.getElementById(elemId).style.outlineWidth = 1;
            // document.getElementById(elemId).style.outlineColor = 'red';
            
                        
            
            answerSubmitted = true;
            for(var i=0;i<parseInt(numAnswers);i++) {
                $('#a'+i).removeClass('ans'+i);
                $('#a'+i).addClass('ans'+i+'h');
            
            }
        }

        

    };

    function move(ansid, maxval, overall_max, baseWidth) {
      var elem = document.getElementById(`progbar${ansid}`);  
      var parent = document.getElementById('a' + ansid);
      var votes = 0;
      var id = setInterval(frame, 600);
      function frame() {
        if (votes >= maxval) {
          clearInterval(id);
          if(maxval == overall_max) {
            parent.style.backgroundColor = '#12c93a';
          } else {
            parent.style.backgroundColor = '#ff370c';
          }
        } else {
          votes++; 
          width = (Math.trunc((100-baseWidth) * (votes/overall_max)) + baseWidth) * 1;
          console.log(width);
          elem.style.width = width + '%'; 
          elem.innerHTML = votes * 1;
        }
      }
    };

    // event that gets triggered when the server returns the result, most selected answers
    socket.on('question_result', function(data){

        console.log('on: question_result');
        console.log(data);
        // color the winning answers green, losing ones red
        
        // for(var card of $('#answers').find('.card')) {

        var answer_counts = data['answer_counts'];
        var max_count = data['max_count'];

        // for each answer, create an interval function that updates the count

        var baseWidth = 12;

        setTimeout(function() {
          for(var id=0;id<data['num_answers'];id++) {
            var elemId = '#ans' + id + 'p';
            $(elemId).replaceWith(`<div class="w3-light-grey ansTextHost">
            <div id="progbar${id}" class="w3-container w3-green" style="width:${baseWidth}%; font-weight: 800;">0</div>
            </div>
            </div>`);
          }

          setTimeout(function() {
            for(var id=0;id<data['num_answers'];id++) {
              move(id, answer_counts[id], max_count, baseWidth);
            }
          }, 1000);
          


        //   for(var id=0;id<data['num_answers'];id++) {
        //     if(data['winning_answer_ids'].includes(id.toString())) {
        //         // winning color
        //         document.getElementById('a'+id).style.backgroundColor = '#12c93a';
        //     } else {
        //         // losing color
        //         document.getElementById('a'+id).style.backgroundColor = '#ff370c';
        //     }
        //  }




        }, 700);
        
            

        

        




            // for(var ansId of data['winning_answer_ids']) {
            //     if(ans == card.firstChild.firstChild.innerHTML) {
            //         winning = true;
            //     }
            // }
            // if(winning) {
            //     card.style.backgroundColor = '#12c93a';
            // } else {
            //     card.style.backgroundColor = '#ff370c';
            // }
            
        //}
        
    });


    
    function countdownTilTimeUp(data) {
        var start = new Date().getTime();


        // function gets executed once every second
        var x = setInterval(function() {

            // number of seconds that passed
            var now = new Date().getTime();
            var timePassed = now - start;
            var seconds = Math.floor((timePassed % (1000 * 60)) / 1000);

            // update countdown
            $('#countdown').replaceWith(`<div id="countdown" class="circle countdown flexCenter"><div>${cdTime-seconds}</div></div>`);

            // if time is over
            if(seconds >= cdTime) {
                answerSubmitted = true;

                // stop periodic execution 
                clearInterval(x);

                // notify server that time is up
                socket.emit('time_up', {gameId: document.getElementById('gameId').value})

                // update countdown
                $('#countdown').replaceWith('<div id="countdown" class="countdown">Time Up!</div>');
                
                // disable answer submission buttons
                for(var child of document.getElementById('answers').getElementsByTagName('button')) {
                    child.disabled = "disabled";
                }

                // host sees button to continue, show leaderboard
                if(document.getElementById('isHost').value == 'True') {
                    $('#hostAction').show();
                    $('#hostAction').replaceWith('<div id="hostAction"><button id = "next" onclick="triggerLeaderboard()" class="btn btn-primary button-h4g-green" data-bs-toggle="button">Show leaderboard</button></div>');

                    
                }
            }

         
        }, 1000);
    }

    // prompt server to send results
    function triggerLeaderboard() {
        socket.emit('trigger_leaderboard', {gameId: document.getElementById('gameId').value});
    }


    // event that gets triggered when server sends results
    socket.on('show_leaderboard', function(data) {
        console.log('on: show_leaderboard');

        // put together table (leaderboard)
        var table = '<table><tr><th>Name</th><th>Points</th></tr>';
        for(var elem of data['player_points']) {
            table += '<tr><td>' + elem[0] + '</td><td>' + elem[1] + '</td></tr>';
        }
        table += '</table>';

        // show leaderboard
        $('#display').replaceWith('<div id="display"><h2>Leaderboard</h2><div>' + table + '</div></div>');

        // if it was the last question, show special button
        if(data['isLast']) {
            $('#hostAction').replaceWith('<div id="hostAction"><button onclick="finish()" class="btn btn-primary" data-bs-toggle="button">End</button></div>');
        } else {
            // display button to go to next questoin
            $('#hostAction').replaceWith('<div id="hostAction"><button id = "next" onclick="getNext()" class="btn btn-primary button-h4g-green" data-bs-toggle="button">Next Question!</button></div>');
        }
    });


    // TODO: get animation to work

    // $(document).ready(function() {
    //     $('table').tableSort({
    //         animation:'slide',
    //         speed:500
    //     });
    // });


</script>



{% endblock %}