{% extends "base.html" %}

{% block title%}
Play Kahoot
{% endblock %}


{% block content %} 
<h1 id = "title">Join a Game</h1>
    <form action="" method="post">

        <div class="form-field">
            <label id = "label">Game Pin</label>
            <input id = "gameId" type="number" name="gameId"/>
        </div>
        <br>
        <div class="form-field">
            <input id = "joinButton" type="submit" value="Join" />
        </div>
    </form>

        <!-- <form action="/player/">
                <div class="form-field">
                    <label id = "label">Display Name</label>
                    <input id = "name" type = "text" name="name" autofocus/>
                </div>
                <br>
                <div class="form-field">
                    <label id = "label">Game Pin</label>
                    <input id = "pin" type="number" name="pin"/>
                </div>
                <br>
                <div class="form-field">
                    <button id = "joinButton">Join</button>
                </div>
        </form> -->
    <br/>
    <button onclick="location.href='create/'" type="button">
        Click here to host a quiz!</button>

{% endblock %}

{% block onconnect %}
<script type="text/javascript" charset="utf-8">
    var socket = io();

    
    // socket.on('connect', function() {
    //     socket.emit('welcome', {data: {msg: 'hello', user: '0'}});
    // });
    // socket.on('custom event', function(data) {
    //     socket.emit('acknowl', {data: 'titties'});
    //     document.getElementById('showroom').innerHTML = data;
    // });

</script>
{% endblock %}